.image{
    width: 13%;
    display: flex;
    justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   margin-left: 42%;
   margin-top: 5%;
}

.input{
    display: flex;
    justify-content: center;
   align-items: center;
    width: 70%;
    border-radius: 5px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    border:1px solid orange;
    margin-left: 13%;
}
.result_item{
    margin-bottom: 20px;
    margin-left: 30px;
    width: 50%;
}
.result_title{
    font-size: 15px;
}
.result-url{
    text-decoration: line-through;
}
.link-describtion{
    font-size: 20px;
}